@custom-variant web {
  html.web- & {
    @slot;
  }
}

@custom-variant dark {
  @media (prefers-color-scheme: dark) {
    html:not(.theme-light) & {
      @slot;
    }
  }
  html.theme-dark & {
    @slot;
  }
}

html {
  --safe-area-inset-t: env(safe-area-inset-top);
  --safe-area-inset-l: env(safe-area-inset-left);
  --safe-area-inset-b: env(safe-area-inset-bottom);
  --safe-area-inset-r: env(safe-area-inset-right);
}
